#navi {
    width: 70%;
    margin: 0 auto;
    background-color: teal;
}

#musa {
    /* background-color: teal;
    color: white; */
    padding: 5px 25px;
    font-weight: bolder;
    letter-spacing: 5px;
    font-family: initial;
    font-style: italic;
    font-size: 40px;
}

#profile {
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 20px;
    margin-top: 10px;
}

.main {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background-color: #eeeeee;
}

.canvas {
    background-image: url(../images/beige-tiles.png);
    background-repeat: repeat;
    border-top: 3px solid teal;
}

.footing {
    background-color: #777777;
    width: 100%;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #eeeeee;
    padding-top: 22px;
}

.heading {
    background-color: #eeeeee;
}